:root {
  --highlight-color: #FEF5CA;
  --queue-color: #EE964B;
  --stack-color: #F4D35E;
  --heap-color: #F4D35E;
  --webapi-color: #F95738;
  --log-color: #083D77;
}
/* Other colors: #EBEBD3 */

body {
  font-family: Arial;
}

.bg-stack-color {
  background-color: var(--stack-color);
}

.b--stack-color {
  border-color: var(--stack-color);
}

.bg-queue-color {
  background-color: var(--queue-color);
}

.b--queue-color {
  border-color: var(--queue-color);
}

.bg-heap-color {
  background-color: var(--heap-color);
}

.b--heap-color {
  border-color: var(--heap-color);
}

.bg-webapi-color {
  background-color: var(--webapi-color);
}

.b--webapi-color {
  border-color: var(--webapi-color);
}

.bg-log-color {
  background-color: var(--log-color);
}

.b--log-color {
  border-color: var(--log-color);
}

.grid {
  display: grid;
}

.main-layout {
  grid-template-columns: 12rem auto;
  grid-template-rows: 5rem auto;
}

.lesson-layout {
  grid-gap: 1rem;
  /* 4x2 grid */
  grid-template-columns: 25rem 10rem 10rem 10rem;
  grid-template-rows: 16rem 4.5rem;
  grid-template-areas:
    "snippet heap stack webapi"
    "snippet queue queue queue";
}

.snippet { grid-area: snippet; }
.stack { grid-area: stack; }
.webapi { grid-area: webapi; }
.heap { grid-area: heap; }
.queue { grid-area: queue; }

.highlight {
  position: absolute;
  background-color: var(--highlight-color);
}

/* Transition animations */

:root {
  --animation-distance: 4rem;
  --animation-distance-neg: -4rem;
}

.item-v-enter.item-v-enter-active,
.item-h-enter.item-h-enter-active,
.item-v-neg-enter.item-v-neg-enter-active,
.item-h-neg-enter.item-h-neg-enter-active {
  opacity: 1;
  transform:   translate(0, 0);
  transform: translate3d(0, 0, 0);
  transition: opacity 1s ease;
}

.item-v-enter.item-v-enter-active,
.item-v-leave,
.item-h-enter.item-h-enter-active,
.item-h-leave,
.item-v-neg-enter.item-v-neg-enter-active,
.item-v-neg-leave,
.item-h-neg-enter.item-h-neg-enter-active,
.item-h-neg-leave {
  transition-property: transform, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.flash-enter {
  background-color: #acf2bd;
}

.flash-enter.flash-enter-active {
  background-color: transparent;
}

.flash-enter.flash-enter-active,
.flash-leave.flash-leave-active {
  transition-property: transform, background-color, opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}

.flash-leave {
  background-color: #fdb8c0;
  opacity: 1;
}

.flash-leave.flash-leave-active {
  background-color: transparent;
  opacity: 0;
}

.item-v-leave,
.item-h-leave,
.item-v-neg-leave,
.item-h-neg-leave {
  opacity: 1;
  transform:   translate(0, 0);
  transform: translate3d(0, 0, 0);
}

.item-h-enter {
  opacity: 0;
  transform:   translate(var(--animation-distance), 0);
  transform: translate3d(var(--animation-distance), 0, 0);
}

.item-h-leave.item-h-leave-active {
  opacity: 0;
  transform:   translate(var(--animation-distance), 0);
  transform: translate3d(var(--animation-distance), 0, 0);
}

.item-v-enter {
  opacity: 0;
  transform:   translate(0, var(--animation-distance));
  transform: translate3d(0, var(--animation-distance), 0);
}

.item-v-leave.item-v-leave-active {
  opacity: 0;
  transform:   translate(0, var(--animation-distance));
  transform: translate3d(0, var(--animation-distance), 0);
}

.item-h-neg-enter {
  opacity: 0;
  transform:   translate(var(--animation-distance-neg), 0);
  transform: translate3d(var(--animation-distance-neg), 0, 0);
}

.item-h-neg-leave.item-h-neg-leave-active {
  opacity: 0;
  transform:   translate(var(--animation-distance-neg), 0);
  transform: translate3d(var(--animation-distance-neg), 0, 0);
}

.item-v-neg-enter {
  opacity: 0;
  transform:   translate(0, var(--animation-distance-neg));
  transform: translate3d(0, var(--animation-distance-neg), 0);
}

.item-v-neg-leave.item-v-neg-leave-active {
  opacity: 0;
  transform:   translate(0, var(--animation-distance-neg));
  transform: translate3d(0, var(--animation-distance-neg), 0);
}
