:root {
  --highlight-color: #FEF5CA;
  --queue-color: #EE964B;
  --stack-color: #F4D35E;
  --heap-color: #F4D35E;
  --webapi-color: #F95738;
  --log-color: #083D77;
}
/* Other colors: #EBEBD3 */

body {
  font-family: Arial;
}

.bg-stack-color {
  background-color: var(--stack-color);
}

.b--stack-color {
  border-color: var(--stack-color);
}

.bg-queue-color {
  background-color: var(--queue-color);
}

.b--queue-color {
  border-color: var(--queue-color);
}

.bg-heap-color {
  background-color: var(--heap-color);
}

.b--heap-color {
  border-color: var(--heap-color);
}

.bg-webapi-color {
  background-color: var(--webapi-color);
}

.b--webapi-color {
  border-color: var(--webapi-color);
}

.bg-log-color {
  background-color: var(--log-color);
}

.b--log-color {
  border-color: var(--log-color);
}

.grid {
  display: grid;
}

.main-layout {
  grid-template-columns: 12rem auto;
  grid-template-rows: 5rem auto;
}

.lesson-layout {
  grid-gap: 1rem;
  /* 4x2 grid */
  grid-template-columns: 25rem 10rem 10rem 10rem;
  grid-template-rows: 16rem 4.5rem;
  grid-template-areas:
    "snippet heap stack webapi"
    "snippet queue queue queue";
}

.snippet { grid-area: snippet; }
.stack { grid-area: stack; }
.webapi { grid-area: webapi; }
.heap { grid-area: heap; }
.queue { grid-area: queue; }

.highlight {
  position: absolute;
  background-color: var(--highlight-color);
}
